doctype html
html
  head
    title Gestão de Alunos {DAW2020}
    script(src="https://kit.fontawesome.com/8126afab27.js", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
