extends layout

block content
    .w3-card
        header.w3-container.w3-teal
            div
                h3.w3-left Students List {DAW2020}
                a(href="http://localhost:7700/students/register", class="w3-button w3-circle w3-card-4", style="cursor:pointer;border:2px solid white;margin-top:10px;padding:6px;margin-left:1vw") 
                    i(class="fas fa-plus")
        if list.length > 0 
            .w3-container
                table.w3-table-all
                    tr 
                        th Number
                        th Name
                        th Git
                        th
                        th
                    each s in list
                        tr
                            td
                                a(href=`/students/${s.numero}`)=s.numero
                            td= s.nome
                            td= s.git
                            td
                                i(class="far fa-trash-alt fa-2x", onClick=`deleteStudent("${s.numero}")`, style="cursor:pointer;color:red")
                            td  
                                a(href="http://localhost:7700/students/edit/" + s.numero)
                                    i(class="far fa-edit fa-2x",style="cursor:pointer;color:teal")
        else
            .w3-container
                p There are no students...
        footer.w3-container.w3-teal
            address Gerado por dawApp :: 2020-Nov, amf
        